main {
  margin-left: 280px;
  padding: 20px;
}
.head-title .left h1 {
  font-size: 24px;
  margin-left: 10px;
  margin-bottom: 50px;
  color: #333;
}

.add-product-section {
  margin-top: 50px;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 90%;
}

.add-product-section h1 {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.add-product-section form {
  max-width: 500px;
  margin: 0 auto;
}

.add-product-section form input[type="text"],
.add-product-section form input[type="number"],
.add-product-section form input[type="date"],
.add-product-section form input[type="email"],
.add-product-section form textarea {
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
  border: 2px solid #1c9601;
  padding: 13px;
  font-size: 14px;
}
.add-product-section form input[type="file"] {
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
  border: 2px solid #1c9601;
  padding: 13px;
}

.add-product-section form select {
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 10px;
  width: 330px;
  border: 2px solid #1c9601;
  padding: 13px;
  font-size: 14px;
}
#image-container {
  float: left;
  width: 40%;
  margin-right: 5%;
}

#form-container {
  float: left;
  width: 55%;
}

#preview-image {
  margin-bottom: 20px;
  text-align: center;
  max-width: 360px;
  margin-left: 80px;
  border: 2px solid #1c9601;
  border-radius: 10px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}
#preview-image:hover {
  box-shadow: 0 8px 12px rgba(28, 150, 1, 0.2);
}

#preview-image img {
  max-width: 100%;
  height: auto;
}
#image {
  border: 2px solid #1c9601;
  border-radius: 10px;
  padding: 10px;
  width: 61%;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}
#image:hover {
  box-shadow: 0 8px 12px rgba(28, 150, 1, 0.2);
}

.btn-submit {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 15px 40px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 200px;
  font-size: 14px;
  font-weight: bold;
}

.btn-submit:hover {
  background-color: #1c9601;
}
label {
  font-weight: bold;
  font-size: 12px;
  color: #333;
  margin-bottom: 10px;
  display: block;
}
.box-section {
  margin-top: 20px;
  margin-right: 6px;
  padding: 5px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
