.about-section {
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: box-shadow 0.3s;}
.about-section:hover {
    box-shadow: 0 8px 12px rgba(28, 150, 1, 0.2);
}
.about-section h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 30px;
}

.about-section p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.about-section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
/* Media Query for smaller screens */
@media (max-width: 768px) {
    .about-section {
        padding: 60px 0;
    }

    .about-section h2 {
        font-size: 28px;
    }

    .about-section p {
        font-size: 16px;
    }
}