.cart-item {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  background-color: #fff;
  transition: all 0.3s ease;
  overflow: hidden;
}

.cart-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.cart-item .cart-item-content {
  display: flex;
  align-items: center;
}

.cart-item img {
  max-width: 200px;
  border-radius: 8px;
  margin-right: 20px;
}
.delete-item {
  margin-right: 50px;
  background-color: #ff5050;
  color: #ffffff;
}
.delete-item:hover {
  background-color: #a30303;
  color: #ffffff;
}
.cart-item-details {
  flex: 1;
}

.cart-item-title {
  font-weight: bold;
  margin-bottom: 5px;
  color: #363232;
}

.cart-item-quantity,
.cart-item-price {
  color: #363232;
}

.cart-item-image {
  border: 2px solid #1c9601;
}

#total-price {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
  transition: all 0.3s ease;
  margin-bottom: 10%;
}

#total-price:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
