body {
    background-color: #f8f9fa;
}

.error-page {
    text-align: center;
    margin-top: 100px;
}

.error-page h1 {
    font-size: 36px;
    color: #dc3545;
}

.error-page p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn-go-home {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-go-home:hover {
    background-color: #0056b3;
}